*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', Helvetica;
}

body{
    background-image: url(./Img/luke-chesser-KR2mdHJ5qMg-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    position:fixed;
    width: 100%;
}

.header{
    display: none;
}

.dropdown{
    color: black;
    padding:10px;
    font-size: 20px;
    border: none;
    transition: background 0.3s;
    background: none;
}

.dropdown-menu{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}


.dropdown-menu:hover .dropdown-content{
    display: block;
}

.dropdown-menu:hover .dropdown{
    color: white;
}

.menu{
    height: 7vh;
    background: rgba(177, 177, 177, 0.7);
    display: flex;
    justify-content: center;
}

.burger-dropdown{
    display: none;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    height: 100%;
}

.menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.menu ul li a:hover{
    color: white;
}

.dropdown-content a:hover{
    background: black;
    color: white;
}

.introduction{
    height: 90vh;
    display: grid;
    align-items: center;
    text-align: center;
}

.restaurant-name{
    font-family: 'Satisfy', cursive;
    font-size: 150px;
    padding-top: 80px;
    background: linear-gradient(354deg, #a75451, #9c0a27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restaurant-description{
    font-size: 30px;
    padding-bottom: 250px;
    width: 40rem;
    margin: auto;
    height: 30%;
    font-family: 'Kalam', Helvetica;

}


.news-events{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.news-events-left{
    height: 100%;
    width: 65%;
    display: grid;
    padding: 20px;
    margin-left: 20px;
}

.news-events-left h2{
    font-family: 'Lacquer', Cursive;

}

.news-events-right{
    padding-right: 20px;
}

.news-events-right h1{
    width: 50%;
    margin: auto;
    font-size: 60px;
}

.news1,.news2,.news3,.news4{
    height: 90%;
    background: linear-gradient(258deg, #cbcbcb, #ffc8d4);
    padding-top: 20px;
    color: black;
}

.news-events-left p{
    opacity:0;
    font-family: 'Lacquer', Cursive;
    width: 80%;
    margin: auto;
    transition: all 0.3s;
}

.news-events-left div:hover p{
    opacity:1;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.news-events-left div:hover h2{
    opacity: 0;
}

.bottom-page-info{
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(178deg, #cbcbcb, #ffc8d4);
}

.Others{
    flex:1;
    height: 90%;
    margin: auto;
    display: grid;
    align-items: center;
}

.career-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.career-section i{
    padding-right: 15px;
}

.survey-section i{
    padding-right: 15px;
}

.title-mod{
    height: 50%;
}

.others-information{
    display: grid;
    height: 100%;
    padding-bottom: 70px;
}

.others-information a{
    text-decoration: none;
    color: black;
}

.others-information a:hover{
    text-decoration: underline;
}


.bottom-divider{
    height: 3px;
    width: 300px;
    margin: auto;
    background: black;
}

.opening-times{
    flex:1;
    height: 90%;
    margin: auto;
    display: grid;
    align-items: center;
}

.title-mod1{
    height: 50%;
    margin-bottom: 20px;
}

.opening-hours-info{
    display: grid;
    grid-row-gap: 5px;
    transform: translateY(-40%);
}

.location{
    flex:1;
    height: 90%;
    margin: auto;
    display: grid;
    align-items: center;
}

.title-mod2{
    height: 50%;
}

.address-number-social{
    display: grid;
    grid-row-gap: 20px;
}

.address{
    width: 60%;
    margin: auto;
}

.social-icons a{
    padding: 10px;
    font-size: 1.5rem;
    color: black;
}

.menu-page{
    background: url(/Img/croissant-QIXmEEzgu-M-unsplash.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-page p{
    font-family: 'Playfair Display', Helvetica;
}

.full-menu{
    display: grid;
    grid-row-gap: 50px;
}

.black-space{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.black-space h1{
    font-size: 150px;
    background: linear-gradient(354deg, #a75451, #9c0a27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Satisfy', cursive;
}

.menu-title{
    font-size: 50px;
}

.title-name{
    font-family: 'Satisfy', cursive;
    background: linear-gradient(354deg, #a75451, #9c0a27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-name:hover{
    color: none;
}

.Coffee{
    height: 100%;
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
}

.coffee-header{
    text-align: center;
    height: 100%;
    padding: 40px;
    background-image: url(./Img/tiffanie-mazellier-XjNO9neiZGE-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.coffee-header h1{
    font-size: 60px;
}

.coffee-header p{
    padding: 20px;
    font-size: 1.5rem;
}

.coffee-menu{
    display: grid;
    grid-row-gap: 20px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(308deg, rgb(119, 118, 118), rgb(228, 228, 228));
}


.everyday-coffee{
    display: grid;
    grid-row-gap: 15px;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.everyday-coffee h4{
    font-size: 40px;
}


.basics ul{
    list-style: none;
    padding: 10px;
}

.basics ul li{
    padding: 10px;
    font-size: 20px;
}

.separator{
    height: 4px;
    width: 100%;
    background: black;
}

.house-special{
    display: grid;
    grid-row-gap: 10px;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.house-special-title{
    font-size: 40px;
}


.house-special-name{
    display: grid;
    grid-row-gap: 20px;
}

.house-special-name h4{
    font-size: 25px;
}


.house-special-name p{
    padding: 25px;
}

.seasonal-special{
    display: grid;
    grid-row-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 40px;
}


.seasonal-special-title{
    font-size: 40px;
}

.seasonal-special-name{
    display: grid;
    grid-row-gap: 20px;
}

.seasonal-special-name h4{
    font-size: 25px;
}

.seasonal-special-name p{
    padding: 25px;
}

.hot-chocolate{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 10px;
}

.hot-chocolate-header{
    text-align: center;
    height: 100%;
    padding: 40px;
    background-image: url(./Img/kaouther-djouada-iN3nv2AFR7Q-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.hot-chocolate-title{
    font-size: 60px;
}

.hot-chocolate-names h4{
    font-size: 25px;
}

.hot-chocolate-names p{
    padding: 30px;
}

.hot-chocolate-header p{
    padding: 30px;
    font-size: 1.5rem;
}

.hot-chocolate-selections{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 80px;
    width: 60%;
    margin: auto;
    background: linear-gradient(308deg, rgb(119, 118, 118), rgb(228, 228, 228));
    margin-top: 40px;
}

.hot-chocolate-names{
    flex: 1;
    display: grid;
    grid-row-gap: 70px;
}

.tea{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 10px;
}

.tea-header{
    text-align: center;
    height: 100%;
    padding: 40px;
    background-image: url(./Img/manki-kim-L82-kkEBOd0-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.tea-header h1{
    font-size: 60px;
}

.tea-header p{
    padding: 20px;
    font-size: 1.5rem;
}

.tea-selection{
    display: grid;
    grid-row-gap: 40px;
    padding: 50px;
    align-items: center;
    text-align: center;
    background: linear-gradient(308deg, rgb(119, 118, 118), rgb(228, 228, 228));
    width: 60%;
    margin: auto;
    margin-top: 40px;
}
.tea-selection h3{
    font-size: 30px;
}

.tea-selection ul{
    list-style: none;
}

.tea-selection ul li{
    padding: 20px;
}

.pastries{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 10px;
}

.pastries-header{
    text-align: center;
    height: 100%;
    padding: 40px;
    background-image: url(./Img/paul-hanaoka-93NV4sBJs_M-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.pastries-header h1{
    font-size: 60px;
}

.pastries-header p{
    padding: 20px;
    font-size: 1.5rem;
}

.pastries-selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: linear-gradient(308deg, rgb(119, 118, 118), rgb(228, 228, 228));
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.pastries-name{
    flex: 1;
}

.pastries-name ul{
    list-style: none;
}

.pastries-name ul li{
    padding: 30px;
    font-size: 20px;
} 

.menu-bottom-page{
    height: 100%;
    width: 100%;
    background: linear-gradient(258deg, #cbcbcb, #ffc8d4);
    display: grid;
    grid-row-gap: 20px;
    margin-top: 40px;
}

.line-separator{
    height: 5px;
    width: 100%;
    background: black;
}

.information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hours{
    display: grid;
    grid-row-gap: 20px;
}

.locate{
    display: grid;
    grid-row-gap: 30px;
}

.about-us{
    background-image: url(./Img/leone-venter-pVt9j3iWtPM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-body{
    display: grid;
    grid-row-gap: 30px;
    padding: 100px;
}

.our-story{
    display: grid;
    grid-row-gap: 20px;
    width: 40%;
    margin: auto;
    background: rgba(177, 177, 177, 0.7);
    border: 2px solid grey;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 5px black;
}

.our-story-header{
    font-size: 40px;
}

.our-story-second-header{
    font-size: 24px;
}

.our-story p{
    width: 50%;
    margin: auto;
    font-size: 20px;
}

.our-story-header, .our-story-second-header, .our-story p, .our-story-footer{
    padding: 30px;
}

.our-information{
    width: 70%;
    margin: auto;
    display: grid;
    margin-top: 100px;
    border: 1px solid grey;
    padding: 20px;
}

.our-products, .our-vision, .our-value{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgba(177, 177, 177, 0.7);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.our-information-div, .our-products-image, .our-vision-image, .our-value-image{
    flex: 1;
}

.our-value-image, .our-vision-image{
    max-height: 100%;
    max-width: 100%;
}

.our-information-div{
    display: grid;
    grid-row-gap: 40px;
}

.our-information-div p{
    width: 80%;
    margin: auto;
}

.our-products-image{
    height: 100%;
    width: 100%;
}

.our-products-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.our-products-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.image{
    height: 100%;
}


.join-us{
    display: grid;
    grid-row-gap: 50px;
    text-align: center;
    padding: 20px;
}

.join-us-left{
    width: 15%;
    padding: 5px;
    border: 1px solid grey;
    margin: auto;
}

.join-us-left h3{
    background: rgba(177, 177, 177, 0.7);
}

.reservation-page{
    background-image: url(./Img/nathan-dumlao-tG4waP7YiAg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reservation-body{
    display: grid;
    grid-row-gap: 100px;
}

.reservation-body-header{
    display: grid;
    grid-row-gap: 20px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 2px solid grey;
}

.reserve-body{
    background: rgba(177, 177, 177, 0.7);
    padding: 50px;
}

.reserve-body h2, .reserve-body p{
    padding: 50px 0;
}

.reservation-body-header h2{
    font-size: 25px;
}

.reservation-body-header p{
    width: 70%;
    margin: auto;
    font-size: 20px;
}

fieldset{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
    background: rgba(177, 177, 177, 0.7);
}

legend{
    font-weight: 700;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.reservation-information{
    display: flex;
    justify-content: center;
}

.reservation-field{
    display: grid;
    grid-row-gap: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    margin-top: 80px;
}

.reservation-field input{
    width: 200px;
    height: 30px;
}

.reservation-field select{
    width: 200px;
    height: 30px;
}

.reservation-notes{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
}

.reservation-notes label{
    padding: 5px;
    text-align: left;
}

.reservation-notes textarea{
    width: 100%;
}

.submit-button{
    margin-bottom: 80px;
    font-size: 1em;
    text-transform: capitalize;
    background: rgba(177, 177, 177, 0.7);
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.career-page{
    background-image: url(./Img/desktop-computer-beside-analog-camera-3759101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.join-us-now{
    display: grid;
    grid-row-gap: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    background: lightgrey;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 4px 4px 10px black;
}

.join-us-now h3{
    font-size: 25px;
}

.join-us-now p{
    width: 50%;
    margin: auto;
}

.career-body{
    display: grid;
    padding: 50px;
}

.available-position{
    display: block;
    height: 100%;
    width: 70%;
    margin: 100px auto;
}

.positions-row, .benefits-row{
    display: flex;
    width: 100%;
}

.positions-column, .benefits-column{
    flex: 1;
    width: 100%;
}

.positions, .positions1, .benefits, .benefits1{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

.positions-column{
    width: 50%;
    margin: auto;
    margin: 20px;
}


.positions, .positions1{
    padding: 30px;
    background: linear-gradient(354deg, #9a5c41, #cd6d39c8);
    border-radius: 20px;
    transition: all 0.3s;
}

.positions:hover, .positions1:hover{
    box-shadow: 4px 4px 10px black;
    transition: all 0.5s;
}

.positions a, .positions1 a, .benefits, .benefits1{
    display: grid;
    grid-row-gap: 10px;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.positions i, .positions1 i, .benefits i, .benefits1 i{
    font-size: 30px;
} 

.working-benefits{
    box-shadow: 4px 4px 15px black;
}

.benefits{
    background: rgba(128, 128, 128, 0.66);
}

.benefits1{
    background: rgba(211, 211, 211, 0.66);
}

.benefits p, .benefits1 p{
    opacity: 0;
    font-size: 15px;
    transition: all 0.3s;
}

.benefits:hover p, .benefits1:hover p{
    opacity: 1;
    transform: translateY(-80%);
    transition: all 0.5s;
}

.benefits:hover h3, .benefits1:hover h3, .benefits:hover i, .benefits1:hover i{
    opacity: 0;
}

.survey-page{
    background-image: url(./Img/adam-jang-8pOTAtyd_Mc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.survey-form{
    width: 80%;
    margin: auto;
}

.survey-information{
    display: grid;
    grid-row-gap: 50px;
    padding: 20px;
}

.survey-field{
    display: flex;
    justify-content: center;
}

.survey-field label,input{
    margin-right: 10px;
}

.survey-field input{
    height: 30px;
    width: 200px;
}

.ratings{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.ratings-mobile{
    display: none;
}

.ratings input{
    margin: 0 20px;
}

.comments{
    padding: 20px;
}

.comments textarea{
    height: 300px;
    width: 800px;
}

@media screen and (max-width: 1024px){
    .bottom-page-info{
        height: 20vh;
    }

    .header{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .bottom-page-info{
        display: grid;
        background: none;
        grid-row-gap: 20px;
    }

    .others-information{
        margin-top: 40px;
    }

    .opening-hours-info{
        margin-top: 50px;
    }

    .address-number-social{
        margin-top: 20px;
    }

    .our-story{
        width: 100%;
    }

    .our-information{
        width: 100%;
    }

    .black-space{
        width: 80%;
        margin: auto;
    }

    .reservation-body-header{
        width: 60%;
        margin: auto;
    }

    .reservation-information{
        display: grid;
        grid-row-gap: 10px;
    }

    .available-position{
        width: 100%;
    }

    .survey-form{
        width: 60%;
        margin: auto;
    }

    .ratings{
        display: none;
    }

    .ratings-mobile{
        align-items: center;
        display: block;
        padding: 20px;
    }

    .comments textarea{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 500px){
    .black-space h1{
        font-size: 5em;
    }


    .menu-title{
        font-size: 0.5em;
    }

    .survey-information{
       display: grid;
       grid-row-gap: 20px;
    }

    .survey-field{
        display: grid;
        grid-row-gap: 10px;
    }
    
    #menu-nav{
        display: none;
    }

    .header{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 3;
        height: 50vh;
    }
    .header ul{
        list-style: none;
        overflow: hidden;
    }

    .checkbox-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: white;
    }

    .checkbox-menu li{
        padding: 20px;
        width: 100%;
        outline: 1px solid black;
        border-right: 1px solid black;
        text-decoration: none;
    }

    .header .mobile-logo{
        float: left;
        display: block;
        font-size: 1.5em;
        padding: 10px 20px;
        text-decoration: none;
        font-family: 'Satisfy', cursive;
        background: linear-gradient(354deg, #a75451, #9c0a27);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .checkbox-menu li:hover{
        background-color: lightgrey;
    }

    .header .checkbox-menu{
        clear: both;
        max-height: 0;
        transition: max-height 0.3s;
    }

    .header .menu-icon{
        padding: 25px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .header .menu-icon .nav-icon{
        background: black;
        display: block;
        height: 3px;
        width: 25px;
        position: relative;
        transition: background 0.3s;
    }

    .header .menu-icon .nav-icon:before{
        background: black;
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 7px;
    }

    .header .menu-icon .nav-icon:after{
        background: black;
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 0.3s;
        top: -7px;
    }
    
    .header .menu-btn{
        display: none;
    }
    
    .header .menu-btn:checked ~ .checkbox-menu{
        max-height: 260px;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon{
        background: none;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }

    .coffee-header, .hot-chocolate-header, .tea-header, .pastries-header{
        background: rgba(177, 177, 177, 0.7);
    }

    .full-menu h1{
        font-size: 2em;
    }

    .coffee-menu{
        overflow: auto;
    }

    .coffee-menu span{
        overflow: auto;
    }

    .coffee-header p, .hot-chocolate-header p, .tea-header p, .pastries-header p{
        display: none;
    }

    .coffee-menu p{
        display: none;
    }

    .house-special-title, .seasonal-special-title{
        font-size: 1.5em;
    }

    .coffee-menu h4{
        font-size: 1em;
    }

    .tea-selection{
        overflow: auto;
    }

    .everyday-coffee-information, .house-special-information, .seasonal-special-information{
        display: inline-block;
    }

    .hot-chocolate-names p{
        display: none;
    }

    .news-events-left{
        flex: 1;
    }

    .news-events-left div{
        width: 100%;
    }

    .news-events-right{
        display: none;
    }

    .introduction{
        display: inline-block;
        padding: 150px 0;
    }
    
    .introduction span{
        font-size: 5em;
    }

    .introduction .restaurant-description{
        font-size: 1em;
        padding: 20px;
    }

    .reservation-body-header div{
        overflow: auto;
    }

    .reservation-body-header div p{
        display: none;
    }

    .our-story{
        float: left;
    }

    .available-position, .positions-row{
        display: grid;
        margin: 0;
    }

    .benefits-row{
        display: grid;
    }

    .positions-column{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    .available-position{
        padding-bottom: 50px;
    }

    .tea-selection{ 
        display: inline-block;
        padding: 10px;
    }
    .tea-names{
        padding: 10px;
    }

    .tea-info{
        font-weight: bold;

    }

    .join-us-now p{
        display: none;
    }

    .survey-form{
        padding-right: 250px;
    }

}
